.date-month {
	font-size: 28px;
	font-weight: bold;
	margin-top: 20px;
}

.date-month:first-child {
	margin-top: 0;
}

.date-day {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

.date-day-number {
	font-size: 28px;
}

.date-day-word {
	font-size: 16px;
}
